@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Noto+Sans+TC:wght@300;400;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

#root {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5;
}

img {
	object-fit: cover;
}

a {
  text-decoration: none;
}